.main-menu
  .container
    a(href="https://github.com/niquola/fhir-schema")
      h3 
       img(style="height: 20px" src="https://raw.githubusercontent.com/ewoutkramer/fhir-net-api/master/icon-fhir-32.png")
       | fhir-schema
.container
  br
  .row
    .col-xs-12
      textarea.fh.form-control(ng-model="resource" ui-codemirror="codemirrorConfig" ng-change="update()")
      br
      .alert.alert-danger(ng-if = "parseError") {{parseError}}

  div.alert.alert-success(ng-if="result.valid") Valid Resource
  div.alert.alert-danger(ng-repeat="err in result.errors" ng-click="err.show = !err.show") 
    h4.item
      b {{err.dataPath.replace('/','.')}} 
      | {{err.message}} &nbsp;
      code {{err.params | json}}
    div(ng-if="err.show") 
      br 
      pre {{ err | json }}
